<div class="columns">
  <div class="column is-full">
    <div class="card">
      <div class="card-content">
        <h2>{{results.title}}</h2>
        {{results.description}}
      </div>
    </div>
  </div>
</div>