<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GNEWS - только свежие новости!</title>
  <link rel="stylesheet" href="/static/App.css">
</head>
<body>
  <div class="content">
    <div class="container is-fluid navbar-container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container navbar-container">
          <div class="navbar-brand">
            <a class="navbar-item is-size-3 has-text-black fs-bold" href="https://bulma.io">
              <span>GNEWS</span>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="content">
    <div class="container">
      {{{body}}}
    </div>
  </div>
</body>
</html>